<table id="board">
  <% 3.times do |row_num| %>
  <tr>
    <% 3.times do |col_num| %>
      <%= erb :board_cell,
          :locals => {:board => board, :cell => row_num * 3 + col_num} %>
    <% end %>
  </tr>
  <% end %>
</table>