<table id="board">
  <tr>
  	<td class="border-right border-bottom"></td>
  	<td class="border-bottom"></td>
  	<td class="border-left border-bottom"></td>
  </tr>
  <tr>
  	<td class="border-right"></td>
  	<td></td>
  	<td class="border-left"></td>
  </tr>
  <tr>
  	<td class="border-right border-top"></td>
  	<td class="border-top"></td>
  	<td class="border-left border-top"></td>
  </tr>
</table>